@import '../../../../themes';

header {
  height: 100%;
  padding: 0 20px;
  .mat-icon-button {
    margin-right: 10px;
  }
  .search-collapsed {
    width: auto;
  }
  .search-expanded {
    width: 100%;
  }
}
